openapi: 3.0.3
info:
    title: 'CovItaly REST APIs (beta)'
    description: 'These APIs are made to retrieve information regarding the COVID ordinances made by the Italian government.'
    version: 1.0.0
servers:
    -
        url: 'https://api.covitaly.it'
paths:
    /zones:
        get:
            summary: zones/
            description: "This endpoint allows you to see the color status of all available zones/regions in Italy.\n<aside class=\"info\">Status could be one of the following: <code>red, orange, yellow, white, undefined</code></aside>"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    last_update: '2020-12-27 20:39:10'
                                    zones_status: { piemonte: yellow, veneto: yellow, lombardia: yellow, emiliaromagna: yellow, umbria: yellow, lazio: yellow, toscana: yellow, abruzzo: orange, molise: yellow, basilicata: yellow, puglia: yellow, marche: yellow, sicilia: yellow, sardegna: yellow, liguria: yellow, trento: yellow, bolzano: yellow, friuliveneziagiulia: yellow, valledaosta: yellow, campania: yellow, calabria: yellow }
                                properties:
                                    last_update: { type: string, example: '2020-12-27 20:39:10' }
                                    zones_status: { type: object, example: { piemonte: yellow, veneto: yellow, lombardia: yellow, emiliaromagna: yellow, umbria: yellow, lazio: yellow, toscana: yellow, abruzzo: orange, molise: yellow, basilicata: yellow, puglia: yellow, marche: yellow, sicilia: yellow, sardegna: yellow, liguria: yellow, trento: yellow, bolzano: yellow, friuliveneziagiulia: yellow, valledaosta: yellow, campania: yellow, calabria: yellow } }
            tags:
                - 'APIs endpoints'
            security: []
    '/zones/{region}':
        get:
            summary: 'zones/{region}'
            description: "This endpoint allows you to see to get a single region status by name.\n<aside class=\"info\">Status could be one of the following: <code>red, orange, yellow, undefined</code></aside>"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                404:
                    description: ''
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: 'Not found (no region found with that name)'
            tags:
                - 'APIs endpoints'
            security: []
        parameters:
            -
                in: path
                name: region
                description: ''
                example: magnam
                required: true
                schema:
                    type: string
    /status:
        get:
            summary: status/
            description: "This endpoint allows you to group the regions in Italy by the current status.\n<aside class=\"info\">Status could be one of the following: <code>red, orange, yellow, white, undefined</code></aside>"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    last_update: '2020-12-27 20:39:10'
                                    status_zones: { yellow: [piemonte, veneto, lombardia, emiliaromagna, umbria, lazio, toscana, molise, basilicata, puglia, marche, sicilia, sardegna, liguria, trento, bolzano, friuliveneziagiulia, valledaosta, campania, calabria], orange: [abruzzo], red: [], white: [], undefined: [] }
                                properties:
                                    last_update: { type: string, example: '2020-12-27 20:39:10' }
                                    status_zones: { type: object, example: { yellow: [piemonte, veneto, lombardia, emiliaromagna, umbria, lazio, toscana, molise, basilicata, puglia, marche, sicilia, sardegna, liguria, trento, bolzano, friuliveneziagiulia, valledaosta, campania, calabria], orange: [abruzzo], red: [], white: [], undefined: [] } }
            tags:
                - 'APIs endpoints'
            security: []
